backend/BYUSpeechesApp/BYUSpeechesApp/obj/
/backend/BYUSpeechesApp/.vs/BYUSpeechesApp/FileContentIndex/125ee6e6-794b-4442-8c7c-406bbb37b089.vsidx
/backend/BYUSpeechesApp/.vs/BYUSpeechesApp/FileContentIndex/6deb944c-fafe-4098-b3ed-6abfd052c806.vsidx
/backend/BYUSpeechesApp/.vs/BYUSpeechesApp/FileContentIndex/e369fbf3-a9c4-4d1e-868b-3863a3c74ab0.vsidx
/backend/BYUSpeechesApp/.vs/BYUSpeechesApp/FileContentIndex/a78dfb0b-0c7a-4368-ac37-ad5f0f1a8507.vsidx
/backend/BYUSpeechesApp/.vs/BYUSpeechesApp/FileContentIndex/6878282b-d2f3-4fa2-8ccc-ea02b18a2d7b.vsidx
/backend/BYUSpeechesApp/.vs/BYUSpeechesApp/FileContentIndex/ea799389-0dad-46ec-9245-5ade02d1fac1.vsidx
