.iPhone {
  background-color: #fff;
  width: 100%;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.statusBarIPhone {
  background-color: #fff;
  width: 100%;
  min-height: 50px;
  padding-top: 21px;
}
.frame {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}
.time {
  color: #000;
  white-space: nowrap;
  text-align: center;
  flex: 1;
  align-self: stretch;
  gap: 10px;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 16px;
  padding-right: 6px;
  font-family:
    SF Pro,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 17px;
  font-weight: 590;
  line-height: 1;
}
.dynamicIslandspacer {
  flex-shrink: 0;
  align-self: stretch;
  width: 124px;
  height: 10px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}
.levels {
  flex: 1;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  gap: 7px;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 6px;
  padding-right: 16px;
  display: flex;
}
.img {
  aspect-ratio: 1.58;
  object-fit: contain;
  object-position: center;
  flex-shrink: 0;
  align-self: stretch;
  width: 19px;
  margin-top: auto;
  margin-bottom: auto;
}
.img2 {
  aspect-ratio: 1.42;
  object-fit: contain;
  object-position: center;
  flex-shrink: 0;
  align-self: stretch;
  width: 17px;
  margin-top: auto;
  margin-bottom: auto;
}
.div {
  color: #000;
  text-align: center;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  font-family:
    Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-weight: 400;
  display: flex;
}
.img3 {
  aspect-ratio: 1.77;
  object-fit: contain;
  object-position: center;
  width: 115px;
  max-width: 100%;
}
.div2 {
  justify-content: space-between;
  align-self: end;
  align-items: stretch;
  gap: 20px;
  width: 100%;
  max-width: 293px;
  margin-top: 36px;
  font-size: 32px;
  line-height: 1;
  display: flex;
}
.div3 {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}
.img4 {
  aspect-ratio: 0.97;
  object-fit: contain;
  object-position: center;
  align-self: center;
  width: 136px;
  max-width: 100%;
}
.speechName {
  margin-top: 19px;
}
.img5 {
  aspect-ratio: 0.89;
  object-fit: contain;
  object-position: center;
  flex-shrink: 0;
  width: 31px;
  margin-top: auto;
  margin-bottom: auto;
}
.div4 {
  align-items: stretch;
  gap: 14px;
  margin-top: 28px;
  margin-left: 20px;
  font-size: 17px;
  line-height: 22px;
  display: flex;
}
.speech {
  background-color: #d9d9d9;
  flex: 1 0 0;
  width: fit-content;
  padding: 36px 48px 69px;
}
.img6 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  flex-shrink: 0;
  align-self: end;
  width: 48px;
  margin-top: 290px;
}
.div5 {
  border: 2px solid #000;
  flex-shrink: 0;
  width: 379px;
  max-width: 100%;
  height: 3px;
  margin-top: 43px;
}
.div6 {
  align-items: stretch;
  gap: 20px;
  width: 100%;
  max-width: 341px;
  display: flex;
}
.div7 {
  align-items: stretch;
  gap: 3px;
  display: flex;
}
.img7 {
  aspect-ratio: 0.92;
  object-fit: contain;
  object-position: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
  width: 80px;
}
.img8 {
  aspect-ratio: 1.07;
  object-fit: contain;
  object-position: center;
  flex-shrink: 0;
  width: 46px;
  margin-top: auto;
  margin-bottom: auto;
}
.div8 {
  align-items: start;
  gap: 32px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}
.img9,
.img10 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  flex-shrink: 0;
  width: 48px;
}
.img11 {
  aspect-ratio: 0.91;
  object-fit: contain;
  object-position: center;
  fill: #1d1b20;
  flex-shrink: 0;
  align-self: stretch;
  width: 32px;
  margin-top: auto;
  margin-bottom: auto;
}
